.deps
.dirstamp
.libs
.*.swp
*.o
*.lo
*.la
*.so
*~

/autom4te.cache
/config.log
/config.status
/Makefile
/config.h
/libtool

/stamp-*
/clish/stamp-*
/*.patch

# Debian files
/build-stamp
/debian/*.log
/debian/tmp
/debian/*substvars
/debian/faux
/debian/faux-dev
/debian/files

# Docs
/docs/*.html
/docs/*.pdf
/docs/*.tex
/docs/*.fpr
/docs/*.log

/cov-int
/faux-*.tar*
/*.tgz
/*.xz
/*.deb
