.deps
.dirstamp
.libs
.*.swp
*.o
*.lo
*.la
*.so
*~

/autom4te.cache
/m4/libtool.m4
/m4/lt*
/aux_scripts
/config.log
/config.status
/stamp-*
/clish/stamp-*
/Makefile
/config.h
/libtool
/configure
/config.h.in
/aclocal.m4
/Makefile.in
/*.patch

# Debian files
/build-stamp
/debian/*.log
/debian/tmp
/debian/*substvars
/debian/faux
/debian/faux-dev
/debian/files

# Binaries
/testc/testc

# Docs
/docs/*.html
/docs/*.pdf
/docs/*.tex
/docs/*.fpr
/docs/*.log

/cov-int
/faux-*.tar*
/*.tgz
/*.xz
